<%= content_for :title, 'Jobs' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>N°</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each_with_index do |job, index| %>
      <tr>
        <td>
          <b><%= index+1 %></b>
          <%= render 'notations/note_badge', subject: job %>
        </td>
        <td><%= link_to job, job %></td>
        <td>
          <%= link_to 'Edit', edit_job_path(job), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Job', new_job_path, class: 'btn btn-default' %>
