<h1>Companies</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>N°</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each_with_index do |company, index| %>
      <tr>
        <td>
          <b><%= index+1 %></b>
          <%= render 'notations/note_badge', subject: company %>
        </td>
        <td><%= link_to company, company %></td>
        <td>
          <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Company', new_company_path, class: 'btn btn-default' %>
