<%= content_for :title do %>
  <%= @company %> 
  <%= render 'notations/note_badge', subject: @company %>
<% end %>
<%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-default' %><br/><br/>
<%= render 'notations/note_a_subject', subject: @company %>
<h3><%= @company.offers.count %> offer(s)</h3>
<ul class="list-unstyled">
  <% @company.offers.each do |offer| %>
    <li><%= link_to offer, offer %></li>
  <% end %>
</ul>
