<%= simple_form_for offer do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.association :company, include_blank: false %>
    </div>
    <div class="col-md-6">
      <%= f.association :job, include_blank: false %>
    </div>
  </div>
  <%= f.input :name %>
  <%= f.input :url, as: :string %>
  <%= f.submit 'Save', class: 'btn btn-default' %>
<% end %>
