<%= content_for :title, 'Offers' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>N°</th>
      <th>Name</th>
      <th>Job</th>
      <th>Company</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each_with_index do |offer, index| %>
      <tr>
        <td>
          <b><%= index+1 %></b>
          <%= render 'notations/note_badge', subject: offer %>
        </td>
        <td><%= link_to offer, offer %></td>
        <td>
          <%= link_to offer.job, offer.job %>
          <%= render 'notations/note_badge', subject: offer.job %>
        </td>
        <td>
          <%= link_to offer.company, offer.company %>
          <%= render 'notations/note_badge', subject: offer.company %>
        </td>
        <td>
          <%= link_to 'Edit', edit_offer_path(offer), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Offer', new_offer_path, class: 'btn btn-default' %>
